---
import Layout from "../layouts/Layout.astro";

import { createClient } from "@supabase/supabase-js";

const user_agent = Astro.request.headers.get("user-agent");
console.log(user_agent);
let options = {};
if (user_agent !== null) {
  options = {
    global: {
      headers: {
        "x_forwarded_user_agent": user_agent,
      },
    },
  }
}

const supabase = createClient(
  import.meta.env.PUBLIC_SUPABASE_URL,
  import.meta.env.PUBLIC_SUPABASE_KEY,
  options
);

let sb_user;

const cookie = Astro.cookies.get("access-token");
if (cookie && cookie.value !== "") {
  const {
    data: { user },
  } = await supabase.auth.getUser(cookie.value);
  if (user && user.role == "authenticated") {
    sb_user = user;
  }
} else {
  sb_user = null;
}

if (sb_user) {
  sb_user = sb_user.email;
}
---

<Layout title="Amplesamp">
  <header class="header">
    <h1>amplesamp</h1>
    <nav class="nav">
      {
        sb_user ? (
          <div class="nav-item">
            <a class="button" href="/api/auth?action=logout">
              logout
            </a>
          </div>
		  <div class="nav-item">
        	<a class="button" href="/app">Dashboard</a>
      	  </div>
        ) : (
          <div class="nav-item">
            <a class="button" href="/login">
              login
            </a>
          </div>
        )
      }
    </nav>
  </header>
  <main>
    <article class="marketing__content">
      <p>
        Amplesamp is a tool that helps you generate data for tests, examples,
        demos, simulations and more!
      </p>
      <p>
        It is a programming language that makes it easy to model your domain,
        run simulations and generate data. It has built in support for random
        (and constrained) data generation and a powerful debugger.
      </p>
      <p>If you have a problem that needs better generated data email us.</p>
      <p><a href="mailto:hello@amplesamp.com">hello@amplesamp.com</a></p>
      <p><a href="/login">Try it Out</a></p>
    </article>
  </main>
  <footer class="footer app__footer">Amplesamp (vercel)</footer>
</Layout>
<style>
  article {
    height: 100%;
    padding: 6px;
  }

  p {
    padding: 6px;
  }
</style>
