---
import Layout from "../layouts/Layout.astro";

import getUserConnection from "../auth";

let user_email = null;
let user = await getUserConnection(Astro.cookies);
if (user) {
  user_email = user.user.email;
}
---

<Layout title="Amplesamp">
  <header class="header">
    <h1>amplesamp</h1>
    <nav class="nav">
      {
        user_email ? (
          <div class="nav-item">
            <a class="button" href="/logout">
              logout
            </a>
          </div>
		  <div class="nav-item">
        	<a class="button" href="/app">Dashboard</a>
      	  </div>
        ) : (
          <div class="nav-item">
            <a class="button" href="/login">
              login
            </a>
          </div>
        )
      }
    </nav>
  </header>
  <main>
    <article class="marketing__content">
      <p>
        Amplesamp is a tool that helps you generate data for tests, examples,
        demos, simulations and more!
      </p>
      <p>
        It is a programming language that makes it easy to model your domain,
        run simulations and generate data. It has built in support for random
        (and constrained) data generation and a powerful debugger.
      </p>
      <p>If you have a problem that needs better generated data email us.</p>
      <p><a href="mailto:hello@amplesamp.com">hello@amplesamp.com</a></p>
      <p>Or come hang out in our <a href="https://discord.gg/WdasCccDdC">discord</a></p>
      <p><a href="/login">Try it Out</a></p>
    </article>
  </main>
  <footer class="footer app__footer">Amplesamp</footer>
</Layout>
<style>
  article {
    height: 100%;
    padding: 6px;
  }

  p {
    padding: 6px;
  }
</style>
