---
import Layout from "../layouts/Layout.astro";

import { createClient } from "@supabase/supabase-js";

export const supabase = createClient(
  import.meta.env.PUBLIC_SUPABASE_URL,
  import.meta.env.PUBLIC_SUPABASE_KEY
);

let sb_user;

const cookie = Astro.cookies.get("access-token");
if (cookie && cookie.value !== "") {
  const {
    data: { user },
  } = await supabase.auth.getUser(cookie.value);
  if (user && user.role == "authenticated") {
    sb_user = user;
  }
} else {
  sb_user = null;
}

if (sb_user) {
  sb_user = sb_user.email;
}
---

<Layout title="Welcome to Astro.">
  <main>
    ok {sb_user}, this is ur computer project.
    <!-- <button onclick="login()">login</button>
    <button onclick="logout()">logout</button> -->
    <a href="/login">login</a>
    <a href="/api/auth?action=logout">logout</a>
  </main>
</Layout>

<script>
  //   import { createClient } from "@supabase/supabase-js";
  //   export const supabase = createClient(
  //     import.meta.env.PUBLIC_SUPABASE_URL,
  //     import.meta.env.PUBLIC_SUPABASE_KEY
  //   );
  //   console.log(await supabase.auth.getUser());

  //   async function _login() {
  //     await supabase.auth.signInWithOAuth({
  //       provider: "google",
  //       options: {
  //         redirectTo: "http://localhost:3000/callback",
  //       },
  //     });
  //   }
  //   async function _logout() {
  //     await supabase.auth.signOut();
  //   }

  //   declare global {
  //     var login: typeof _login;
  //     var logout: typeof _logout;
  //   }

  //   globalThis.login = _login;
  //   globalThis.logout = _logout;

  //   supabase.auth.onAuthStateChange((event, session) => {
  //     console.log(event, session);
  //   });
</script>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
